<mat-card>
    <mat-form-field class="app-form-field">
        <mat-label>Qwiklabs Profile Link</mat-label>
        <input
            matInput
            type='text'
            [(ngModel)]='profileSearchText'
            (keyup)="onKeyup($event)"
            [formControl]="linkFormControl"
            placeholder='e.g. https://google.qwiklabs.com/public_profiles/a1d8cb0d-7461-4ea1-8c05-1f358173f84b' />
        <button mat-button *ngIf="profileSearchText" matSuffix mat-icon-button aria-label="Clear" (click)="profileSearchText=''">
            <mat-icon>close</mat-icon>
        </button>
        <mat-hint align="start"><strong>Copy your public Qwiklabs profile link</strong> </mat-hint>
        <mat-error *ngIf="linkFormControl.hasError('invalidLink')">
            Link is <strong>invalid</strong>
        </mat-error>
    </mat-form-field>
</mat-card>
